@model GuideRestoGre.Web.ViewsModels.RestaurantsViewModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Liste des Restaurants</title>
    </head>
    <body>
        <p>
            <a asp-action="Create">Créer un nouveau Restaurant</a>
        </p>

        @foreach (var resto in Model.restaurants)
        {
            <div class="card-columns">
                <partial name="Details" model="resto"/>
            </div>
         }
    </body>
</html>
